.divClass h1 {
	color: blueviolet;
}
#spanId {
	font-size: 18px;
	margin: 50px;
}
#thirdDiv {
	background: lightskyblue;
	padding: 10px;
	border-style: groove;
	border:5px solid blueviolet;
	width: 500;
	height: 600;
}
#thirdDiv img {
	width: 400px;
}